/* hero section */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.container {
  /* width:1400px; */
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.hero-image {
  background-image: url(/assets/images/hero-section.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  left: 0px;
}
body {
  color: #FFFFFF;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #151a1f;
}
.logo {
  left: 10px;
}
.nav-links {
  display: flex;
  margin-left: -50%;
  font-family: "normalidad bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.nav-links li {
  margin: 0 20px;
}
.nav-links a {
  color: #4d545e;
}

.nav-links .active {
  color: #d4ff27;
}
.nav-links:hover {
  text-decoration: underline;
}
.auth-buttons button {
  padding: 12px 16px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}
.login {
  background: transparent;
  color: #FFFFFF;
  font-family: "normalidad";
}
.signup {
  background: #d4ff27;
  color: #000000;
  border-radius: 50px;
  font-family: "normalidad";
  width: 94px;
}
.auth-buttons .signup:hover {
  background-color:#00ff00;
}
.hero-section {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family:"normalidad bold" ;
  src: url("../font/NormalidadCompact-Black.ttf");
}
.title {
  /* color:#ffffff;
  z-index: 1; */
  width: 835px;
  height: 172px;
  font-family: "Normalidad bold";
  font-size: 96px;
  line-height: 90%;
  /* letter-spacing: -0.04em; */
  letter-spacing: -4%;
}
@font-face {
  font-family: "normalidad";
  src: url("../font/NormalidadCompact-Regular.ttf");
}
.subtitle {
  margin-top: 10px;
  font-family: "normalidad";
  z-index: 1;
}
@font-face {
  font-family: "normalidad";
  src: url("../font/NormalidadCompact-Medium.ttf");
}
.cta {
  margin-top: 20px;
  padding: 16px 24px;
  font-size: 16px;
  background: #d4ff27;
  color: #000000;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;
  font-family: "normalidad";
}
.cta:hover {
  background-color:#00ff00;
}
.vector {
  margin-top:-40%;
}
.graph {
  width: 181px;
  height: 24px;
  margin-left: 700px;
  margin-top: 310px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.graph-2 {
  position: absolute;
  left: 55%;
  top: 60%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* image-section */
body {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.game-select {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.games {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 100px;
  margin-top: 20%;
}
.game-title{
background-image: url(/assets/images/Title.png);
background-repeat: no-repeat;
margin-left: 10%;
margin-top: 30%;
}
.game-card {
  background: #000000;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
}
.game-card img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.game-info {
  margin-top: 10px;
}


.game-info h3 {
  margin: 5px 0;
  font-size: 18px;
  font-family: "normalidad";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.game-info p {
  font-size: 14px;
  color: #4d545e;
  font-family: "normalidad";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.tag {
  position: absolute;
  font-family: "normalidad";
  font-weight: 700;
  font-size: 16px;
  top: 10px;
  left: 10px;
  background: #d4ff27;
  color: #000000;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  transform: rotate(-30deg);
}
/* video-section */
.video {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.gaming-section {
  padding: 100px 50px;
  width: 100%;
}
.title-1 {
  font-family: "normalidad";
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 432px;
  margin-left: 300px;
  height: 72px;
  color: #FFFFFF;
}
.title-1 span {
  color: #d4ff27;
}
.video-container {
  display: flex;
  justify-content: center;
  margin:40px;
}
.video-screen {
  border-radius: 10px;
}
.complete-button {
  background: #c6ff00;
  color: #000000;
  font-weight: 500;
  padding: 16px 24px;
  font-family: "Normalidad";
  border: none;
  line-height: 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  text-transform: uppercase;
}
.complete-button:hover {
  background-color: #00ff00;
}
/* 4th section */
.meet {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.competitive-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  position: relative;
}
.text-container {
  width: 1300px;
  height: 500px;
}
.text-container h2 {
  width: 538px;
  font-size: 36px;
  font-weight: 700;
  color: #d4ff27;
}
.text-container p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
  width: 580px;
  color: #4d545e;
  height: 96px;
}
@font-face {
  font-family: "normalidad";
  src: url(../font/NormalidadCompact-Regular.ttf);
}
.buttons {
  font-family: "normalidad";
  display: flex;
  gap: 20px;
  margin-left: 100px;
  margin-top: -30%;
}
.buttons-repeat {
  padding: 8px 16px;
  background-color: #1e1e1e;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 72px;
}
.buttons-repeat:hover {
  background-color: #00ff00;
}
.meet-button {
  margin-left: -70%;
  background: #c6ff00;
  color: #000000;
  border: none;
  padding: 16px 24px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
.meet-button:hover {
  background-color: #00ff00;
}
/* 5th section */
.news-section {
  min-height: 100vh;
  margin: auto;
}
.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.news-header h2 {
  color: #aaff00;
}
.news-header a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.news-container {
  display: flex;
  gap: 20px;
}
.news-main {
  flex: 2;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
}
.news-main img {
  width: 100%;
  height: auto;
}
.news-content {
  padding: 30px;
}
.h3 {
  font-size: 16px;
}
.card-heading {
  width: 432px;
}
.p {
  width: 612px;
}
.tag-card {
  background: #000000;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: -80%;
}
.tag-card:hover {
  color: #4d545e;
}
.date {
  display: block;
  margin-top: 10px;
  color: #aaff00;
}
.news-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
}
.news-item {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
}
.news-item img {
  width: 600px;
  height: auto;
}
.news-text {
  padding: 30px;
}
/* 6th section */
.update {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.footer {
  padding: 40px 20px;
  text-align: center;
  width: 100%;
}
.footer-image {
  margin-bottom: 100px;
}
.subscription-box {
  padding: 30px;
  margin-left: 40%;
  width: 80%;
  margin-top: -120px;
  max-width: 700px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-content {
  color: #000000;

}
@font-face {
  font-family: "normalidad";
  src: url("../font/NormalidadCompact-Black.ttf");
}
.text-content h5 {
  margin: 0;
  font-family: "normalidad black";
  font-size:16px;
  font-weight: 700;
}
.text-content p {
  width: 456px;
  opacity: 60%;
  margin: 5px 0;
  font-size: 14px;
  color: #1f2309;
}
.input-container {
  display: flex;
  background-color: #000000;
  border-radius: 12px;
  padding: 5px;
  align-items: center;
}
.input-container input {
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  font-size: 14px;
  color: #FFFFFF;
  background: none;
}
.input-container button {
  background-color: #000000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-top {
  margin-bottom: 20px;
  display: flex;
  color: #4d545e;
  gap: 100px;
}
.footer-top .logo {
  margin-left: 200px;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.subscribe {
  flex: 2;
  min-width: 300px;
  margin-bottom: 20px;
}
.email-box {
  display: flex;
  background-color: #000000;
  padding: 12px 16px;
  border-radius: 12px;
  margin-top: 10px;
  gap: 20px;
}
.email-box input {
  border: none;
  padding: 12px 16px;
  width: 380px;
  background: #1e1e1e;
  color: #FFFFFF;
  outline: none;
}
.email-box button {
  background: #c3ff00;
  border: none;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
}
.social-icons {
  margin-top: 30px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}
.social-icons a {
  margin-right: 10px;
  cursor: pointer;
}
.social-icons a:hover {
  background-color: #ffffff;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  flex: 2;
  /* min-width: 400px; */
}
.footer-links .column {
  margin-bottom: 20px;
}
.footer-links h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-links a {
  display: block;
  color: #4d545e;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
}
.footer-links a:hover {
  color:#aaff00;
  text-decoration: underline;
}
.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #4d545e;
  margin-left: 200px;
  font-weight: 400;
  line-height: 18px;
  width: 965px;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    justify-content: center;
  }
  .footer-links .column {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .news-container {
    flex-direction: column;
  }
  .news-item {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .competitive-section {
    flex-direction: column;
    text-align: center;
  }
  .text-container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .video-screen {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .games {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }
  .hero-section {
    height: 60vh;
  }
  .title {
    font-size: 2em;
  }
  .cta {
    font-size: 1em;
    padding: 10px 20px;
  }
}
